<div class="d-flex justify-content-center align-items-center w-100 h-100 login-container">
    <div class="col-xl-4 col-md-6 col-10">
        <div class="card border-0 box-shadow rounded-0">
            <div class="card-header d-flex justify-content-center align-items-center border-0 box-shadow">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
            </div>
            <div class="card-block text-center pb-1">
                <h2>Login</h2>

                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-left mt-4">
                    <div class="form-group m-3">
                        <input [formControl]="username" class="form-control validation-field" placeholder="Username" type="text">                      
                        <small class="text-danger" *ngIf="form.get('username').touched && form.get('username').hasError('required')">Insert username</small>
                        <!--<small class="text-danger" *ngIf="form.get('username').touched && form.get('email').hasError('email')">Invalid email address</small>-->
                    </div>
                    <div class="form-group m-3">
                        <input [formControl]="password" class="form-control validation-field" placeholder="Password" type="password">
                        <small class="text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('required')">Insert password</small>                              
                        <small class="text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">Password must be at least 6 chars length</small>
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input [formControl]="remember" class="custom-control-input checkbox-main" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description align-middle">Keep me signed in.</span>
                        </label>
                        <!-- <a class="transition pull-right" href="javascript:void(0);">Hai dimenticato la password?</a>                      -->
                    </div>
                     <div class="form-group text-center mt-5">
                        <!-- <button [disabled]="!form.valid" class="btn btn-block" type="submit">Entra</button> -->
                        <button [disabled]="!form.valid" class="btn btn-secondary w-50" type="submit">
                            <div *ngIf="!loading" [ngClass]="{'login-enabled': form.valid}">Entra</div>
                            <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></i>
                        </button>
                    </div>

                    <div class='text-center m-2'>
                        <a href='javascript:void(0)'><small (click)='resetPassword()'>Forgot password?</small></a>
                    </div>
                </form>
            </div>
            <div class="mb-2 error-message text-center">
                <b *ngIf="authenticationError" class="text-danger">Access failed, check credentials and try again</b>
            </div>
        </div>
    </div>
</div>


<!-- <div class="d-flex justify-content-center align-items-center w-100 h-100 login-container">
    <div class="col-xl-4 col-md-6 col-10">
        <div class="card border-0 box-shadow rounded-0">
            <div class="card-header d-flex justify-content-center align-items-center border-0 box-shadow">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
            </div>
            <div class="card-body text-center pb-1">
                <h2>Login</h2>

                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-left mt-4">
                    <div class="form-group">
                        <input [formControl]="username" class="form-control validation-field" placeholder="Username" type="text">                      
                        <small class="text-danger" *ngIf="form.get('username').touched && form.get('username').hasError('required')">Insert username</small>
                    </div>
                    <div class="form-group">
                        <input [formControl]="password" class="form-control validation-field" placeholder="Password" type="password">
                        <small class="text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('required')">Insert password</small>                              
                        <small class="text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">Password must be at least 6 chars length</small>
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input [formControl]="remember" class="custom-control-input checkbox-main" type="checkbox">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description align-middle">Keep me signed in.</span>
                        </label>
                    </div>
                    <div class="form-group text-center mt-5">
                        <button [disabled]="!form.valid" class="btn btn-secondary w-50" type="submit">
                            <div *ngIf="!loading" [ngClass]="{'login-enabled': form.valid}">Sign in</div>
                            <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></i>
                        </button>
                    </div>

                    <div class='text-center m-2'>
                        <a href='javascript:void(0)'><small (click)='resetPassword()'>Forgot password?</small></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

        -->