<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <sectionGroup name="FourSolid">
      <section name="EventStore" type="FourSolid.Cqrs.EventsDispatcher.Configuration.EventStoreSectionHandler, FourSolid.Cqrs.EventsDispatcher.Configuration" />
      <section name="RabbitMq" type="FourSolid.Cqrs.EventsDispatcher.Configuration.RabbitMqSectionHandler, FourSolid.Cqrs.EventsDispatcher.Configuration" />
      <section name="MongoDb" type="FourSolid.Cqrs.EventsDispatcher.Configuration.MongoDbSectionHandler, FourSolid.Cqrs.EventsDispatcher.Configuration" />
      <section name="Pratiche" type="FourSolid.Cqrs.EventsDispatcher.Configuration.PraticheSectionHandler, FourSolid.Cqrs.EventsDispatcher.Configuration" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <FourSolid>
    <EventStore uri="127.0.0.1" port="1113" user="admin" password="changeit"></EventStore>
    <RabbitMq hostName="localhost" uri="amqp://guest:guest@localhost:5672/" commands="4solid.exchange.commands" events="4solid.exchange.events" username="guest" password="guest"></RabbitMq>
    <MongoDb connectionString="mongodb://4Solid:4$olid!2016@cluster0-shard-00-00-p8dmh.mongodb.net:27017,cluster0-shard-00-01-p8dmh.mongodb.net:27017,cluster0-shard-00-02-p8dmh.mongodb.net:27017/test?ssl=true" replicaSet="replicaSet=Cluster0-shard-0" authSource="authSource=admin"></MongoDb>
    <Pratiche controllerUri="http://localhost:51928/v1/scheduler" days="75;50;15;1" chkTime="23:00"></Pratiche>
  </FourSolid>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <targets>
      <!-- write log message to file -->
      <target name="file" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${message}|${exception:maxInnerExceptionLevel=5:format=message,stacktrace:separator=*}" fileName="C:/4Solid/log/CqrsEventsDispatcher_${shortdate}_${level}.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>